* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
form label {
    display: block;
    margin-bottom: 20px;
  }
  header {
    text-align: center;
    margin-top: 30px;
    color: #464444;
  }
main{
    text-align: center;
  }
  h1 {
    margin-top: 5px;
    margin-bottom: 0px;
  }
  .texto-header {
    color: #464444;
    margin-bottom: 20px;
    margin-top: 0;
    font-size: 14px;
  }
  .texto-password {
    font-size: 14px;
    margin-left: 100px;
    margin-bottom: 10px;
    color: #000000;
    font-weight: bold;
  }
  form{
    display: inline-block;
    text-align: center;
  }
form input[type="text"],
form input[type="password"] {
    display: block;
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 10px;
    background-color: #eeecec;
    box-shadow: 2px 2px 5px rgba(124, 114, 114, 0.3);
  }
  form input[type="text"]:hover,
form input[type="password"]:hover{
  background-color: #c4c3c3;
}
form button {
    background-color: #fb9ceb;
    border: none;
    border-radius: 10px;
    height: 50px;
    width: 270px;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}
form button:hover{
  background-color: #ffbdf4;
}

.texto-final-p {
  color: #464444;
  font-size: 12px;
  text-align: center;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 0px;
}
.footer1{
height: 4px;
width: 80px;
background: linear-gradient(to right, #ffffff, #fb9ceb);
margin-top: 20px;
}
.footer2 {
height: 4px;
width: 80px;
background: linear-gradient(to right, #fb9ceb, #ffffff);
margin-top: 20px;
}
.texto-final {
  display: flex;
  justify-content: center;
}
.cuentas{
  height: 60px;
  width: 60px;
  margin-left: 10px;
  background-color: rgb(234, 226, 226);
  margin-top: 20px;
  border-radius: 30px;
  border: 1px solid #fb9ceb;
}
.container-cuentas, .cuentas {
  display: flex;
  justify-content: center;
}
.cuentas img {
  height: 40px;
  width: 40px;
  padding: 0%;
  margin-top: 10px;
  cursor: pointer;
}
.cuentas:hover{
  background-color: #ededed;
}

